#
# HardwareMonitor.conf for @STATION@
#
WatchRSPboards  =       1
WatchTBboards   =       1
WatchEnvCntrl  =  1
closingDelay    =       2.0

# IP address of Environmental Controller "10.151.x.3"
EnvCntrl_IP    = "@IP_ENV_CONTR@"
