#
# RSPConnections
#
# $Id: $
#
# List of Connections between RSP boards and the BG/P at CEP.
# Each station can have four RSP boards broadcasting at the same
# time; they all connect to the same BG/P I/O node. Thence, there 
# is only one entry per station.
#
# The Core stations have two possible connections: one for 
# 1x48 HBA tiles, one for 2x24 HBA tiles. These have two separate 
# entries in this file.
#
#                IMPORTANT !!!!!! BEWARE
#
# 	The items in the seperate lines of this file must be seperated by either a SINGLE whitespace or a single tab!!!!
#	Furthermore, this file is read by PVSS controllers to fill in the database, ANY change could possibly have an impact
#	on PVSS, so please double check. In case of doubt, contact the PVSS maintainer
#
# board I/O node
CS001 RSP_0 @BGP-PARTITION@-M1-N07-J00
CS001 RSP_1 @BGP-PARTITION@-M0-N07-J00

CS002 RSP_0 @BGP-PARTITION@-M1-N01-J00
CS002 RSP_1 @BGP-PARTITION@-M0-N01-J00

CS003 RSP_0 @BGP-PARTITION@-M1-N02-J00
CS003 RSP_1 @BGP-PARTITION@-M0-N02-J00

CS004 RSP_0 @BGP-PARTITION@-M1-N03-J00
CS004 RSP_1 @BGP-PARTITION@-M0-N03-J00

CS005 RSP_0 @BGP-PARTITION@-M1-N00-J01
CS005 RSP_1 @BGP-PARTITION@-M0-N00-J01

CS006 RSP_0 @BGP-PARTITION@-M1-N01-J01
CS006 RSP_1 @BGP-PARTITION@-M0-N01-J01

CS007 RSP_0 @BGP-PARTITION@-M1-N02-J01
CS007 RSP_1 @BGP-PARTITION@-M0-N02-J01

CS011 RSP_0 @BGP-PARTITION@-M1-N09-J00
CS011 RSP_1 @BGP-PARTITION@-M0-N09-J00

CS013 RSP_0 @BGP-PARTITION@-M0-N10-J01
CS013 RSP_1 @BGP-PARTITION@-M0-N14-J01

CS017 RSP_0 @BGP-PARTITION@-M1-N08-J00
CS017 RSP_1 @BGP-PARTITION@-M0-N08-J00

CS021 RSP_0 @BGP-PARTITION@-M1-N00-J00
CS021 RSP_1 @BGP-PARTITION@-M0-N00-J00

CS024 RSP_0 @BGP-PARTITION@-M1-N03-J01
CS024 RSP_1 @BGP-PARTITION@-M0-N03-J01

CS026 RSP_0 @BGP-PARTITION@-M1-N05-J00
CS026 RSP_1 @BGP-PARTITION@-M0-N05-J00

CS028 RSP_0 @BGP-PARTITION@-M1-N09-J01
CS028 RSP_1 @BGP-PARTITION@-M0-N09-J01

CS030 RSP_0 @BGP-PARTITION@-M1-N06-J00
CS030 RSP_1 @BGP-PARTITION@-M0-N06-J00

CS031 RSP_0 @BGP-PARTITION@-M1-N13-J00
CS031 RSP_1 @BGP-PARTITION@-M1-N13-J01

CS032 RSP_0 @BGP-PARTITION@-M1-N04-J01
CS032 RSP_1 @BGP-PARTITION@-M0-N04-J01

CS101 RSP_0 @BGP-PARTITION@-M1-N04-J00
CS101 RSP_1 @BGP-PARTITION@-M0-N04-J00

CS103 RSP_0 @BGP-PARTITION@-M1-N11-J00
CS103 RSP_1 @BGP-PARTITION@-M0-N11-J00

CS201 RSP_0 @BGP-PARTITION@-M1-N05-J01
CS201 RSP_1 @BGP-PARTITION@-M0-N05-J01

CS301 RSP_0 @BGP-PARTITION@-M1-N06-J01
CS301 RSP_1 @BGP-PARTITION@-M0-N06-J01

CS302 RSP_0 @BGP-PARTITION@-M0-N13-J00
CS302 RSP_1 @BGP-PARTITION@-M0-N13-J01

CS401 RSP_0 @BGP-PARTITION@-M1-N07-J01
CS401 RSP_1 @BGP-PARTITION@-M0-N07-J01

CS501 RSP_0 @BGP-PARTITION@-M1-N10-J00
CS501 RSP_1 @BGP-PARTITION@-M0-N10-J00

# Remote stations

RS104 RSP_0 @BGP-PARTITION@-M0-N08-J01

RS106 RSP_0 @BGP-PARTITION@-M1-N11-J01

RS205 RSP_0 @BGP-PARTITION@-M0-N11-J01

RS208 RSP_0 @BGP-PARTITION@-M1-N08-J01

RS210 RSP_0 @BGP-PARTITION@-M1-N14-J01

RS305 RSP_0 @BGP-PARTITION@-M0-N14-J00

RS306 RSP_0 @BGP-PARTITION@-M1-N14-J00

RS307 RSP_0 @BGP-PARTITION@-M1-N15-J00

RS310 RSP_0 @BGP-PARTITION@-M0-N12-J01

RS406 RSP_0 @BGP-PARTITION@-M0-N15-J00

RS407 RSP_0 @BGP-PARTITION@-M1-N12-J00

RS409 RSP_0 @BGP-PARTITION@-M1-N12-J01

RS410 RSP_0 @BGP-PARTITION@-M0-N12-J00

RS503 RSP_0 @BGP-PARTITION@-M1-N10-J01

RS508 RSP_0 @BGP-PARTITION@-M1-N15-J01

RS509 RSP_0 @BGP-PARTITION@-M0-N15-J01

DE601 RSP_0 @BGP-PARTITION@-BG3-DE601

DE602 RSP_0 @BGP-PARTITION@-BG1-DE602

DE603 RSP_0 @BGP-PARTITION@-BG1-DE603

DE604 RSP_0 @BGP-PARTITION@-BG1-DE604

DE605 RSP_0 @BGP-PARTITION@-BG3-DE605

FR606 RSP_0 @BGP-PARTITION@-BG2-FR606

SE607 RSP_0 @BGP-PARTITION@-BG2-SE607

UK608 RSP_0 @BGP-PARTITION@-BG2-UK608

